# Python
__pycache__/
*.py[cod]
*.env
*.venv
env/
venv/
ENV/
*.egg-info/
dist/
build/
*.log

# FastAPI specific
instance/
*.db
*.sqlite3

# Next.js
.next/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Output folder (used by Next.js build, served by FastAPI)
# out/

# OS files
.DS_Store
Thumbs.db

note.txt
fe/
catboost_info/
catboost_infol/